:root {
  font-family: "Rosario";
  font-weight: 700;
}
body {
  margin: 0;
}
.main_container {
  margin: auto;
  width: 1920px;
}
.page {
  width: 1920px;
  height: 951px;
}

header {
  max-width: 1920px;
  margin: 0;
  top: 0;
  position: sticky;
  z-index: 100;
}
h1 {
  font-size: 96px;
  text-align: center;
}
h2 {
  font-size: 64px;
  margin-bottom: 30px;
  text-align: center;
}
h3 {
  font-size: 36px;
  margin-top: 5px;
}

.header {
  height: 129px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.logo > img {
  background-color: white;
  height: 129px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav a {
  font-size: 36px;
  color: #fffcfc;
  text-decoration: none;
  padding: 0 20px;
}
.container {
  margin: 0 auto;
  overflow: hidden;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  margin: 16px;
}

.AnimationLeft {
  animation: AnimationLeft 1s linear 1;
  position: relative;
}

.AnimationRight {
  animation: AnimationRight 1s linear 1;
  position: relative;
}

.AnimationLeftSlow {
  animation: AnimationLeft 2s linear 1;
  position: relative;
}

.AnimationRightSlow {
  animation: AnimationRight 2s linear 1;
  position: relative;
}

@keyframes AnimationLeft {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes AnimationRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(-15px);
  }
}
.services {
  display: flex;
}
.service_images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.service_text {
  font-size: 48px;
  text-align: center;
  margin: 0;
}

.hayir_styling {
  animation: CycleAnimationRight 40s linear 0s infinite;
}

@keyframes CycleAnimationRight {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    transform: translateX(480px);
  }
  50% {
    transform: translate(480px, 450px);
  }
  75% {
    transform: translateY(450px);
  }
}

.beard_triming {
  animation: CycleAnimationDown 40s linear 0s infinite;
}
@keyframes CycleAnimationDown {
  0% {
    top: 0;
    left: 480px;
  }

  25% {
    transform: translateY(450px);
  }
  50% {
    transform: translate(-480px, 450px);
  }
  75% {
    transform: translateX(-480px);
  }
}

.hair_straightening {
  animation: CycleAnimationLeft 40s linear 0s infinite;
}
@keyframes CycleAnimationLeft {
  0% {
    top: 450px;
    left: 480px;
  }

  25% {
    transform: translateX(-480px);
  }
  50% {
    transform: translate(-480px, -450px);
  }
  75% {
    transform: translateY(-450px);
  }
}

.smooth_shave {
  animation: CycleAnimationUp 40s linear 0s infinite;
}
@keyframes CycleAnimationUp {
  0% {
    top: 450px;
    left: 0px;
  }

  25% {
    transform: translateY(-450px);
  }
  50% {
    transform: translate(480px, -450px);
  }
  75% {
    transform: translateX(480px);
  }
}

.barber p {
  margin: 0;
  flex-grow: 1;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.card {
  position: relative;
  filter: brightness(25%);
  margin: 0 50px;
  height: 677px;
}

.card:hover {
  filter: brightness(100%);
  scale: 1.02;
  transition: 0.4s;
}
.card img {
  z-index: 1;
  position: relative;
  width: 392px;
  height: 677px;
}
.name {
  position: relative;
  z-index: 0;
  top: -220px;
  left: 0;
  width: 392px;
  height: 154px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-top: 65px;
  text-align: center;
  margin: 0;
}
.card.one:hover .name.one,
.card.two:hover .name.two,
.card.three:hover .name.three,
.card.four:hover .name.four {
  font-family: Volkhov;
  font-size: 48px;
  color: white;
  background: rgba(163, 83, 10, 0.7);
  z-index: 2;
}
.contact_us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 735px;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: #e5e5e5;
  width: 936px;
  height: 350px;
}
.form_first_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.input {
  padding-left: 10px;
  font-size: 36px;
}

#name {
  width: 350px;
  height: 80px;
  margin-right: 50px;
}
#email {
  width: 452px;
  height: 80px;
}

.textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}
.contact_right {
  padding-top: 80px;
  margin-left: 34px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  text-align: center;
  height: 187px;
  margin: 10px 0;
}

.network_items ul {
  list-style: none;
}
li {
  text-align: left;
}
.footer a {
  text-decoration: none;
}
.footer p {
  margin: 0;
}

/* adaptivity
      @media screen and (min-width: 1620px) {
        .main_container {
          width: 1420px;
        }
      }

      @media screen and (max-width: 992px) {
        .main_container,
        .page,
        .container,
        header {
          width: 972px;
          height: auto;
        }
        .container {
          overflow: visible;
        }
        .nav a {
          font-size: 26px;
        }
        .logo > img {
          width: 90%;
        }
        .AnimationLeftSlow {
          animation: AnimationLeftDown 1s linear 1;
          position: relative;
        }

        .AnimationRightSlow {
          animation: AnimationRightDown 1s linear 1;
          position: relative;
        }
        @keyframes AnimationLeftDown {
          0% {
            transform: translate(0px 0px);
          }
          100% {
            transform: translate(500px 500px);
          }
        }
        @keyframes AnimationRightDown {
          0% {
            transform: translate(0px 0px);
          }
          100% {
            transform: translate(-500px 500px);
          }
        }
        .services {
          flex-direction: column-reverse;
        }

        .service_text {
          font-size: 38px;
        }

        .cards {
          flex-wrap: wrap;
        }
        
        .contact_us {
          flex-direction: column;
        }
        .contact_right {
          margin: auto;
          margin-bottom: 18px;
        }
        .footer {
          font-size: 26px;
          height: auto;
        }
        h3 {
          font-size: 30px;
        }
      }
      */
